<strong>Your Search:</strong> <%= @word %>
</br>
<strong>Your Location:</strong> <%= @location%>
<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1.1", {packages:["wordtree"]});
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable(
          eval('[ ["Phrases"],["'+'<%= @auto[0] %>'+'"],["'+ '<%= @auto[1] %>'+'"],["'+ '<%= @auto[2] %>'+'"],["'+ '<%= @auto[3] %>'+'"],["'+ '<%= @auto[4] %>'+'"],["'+ '<%= @auto[5] %>'+'"],["'+ '<%= @auto[6] %>'+'"],["'+ '<%= @auto[7] %>'+'"],["'+ '<%= @auto[8] %>'+'"],["'+ '<%= @auto[9] %>'+'"]]')
        );

        var options = {
          wordtree: {
            format: 'implicit',
            word: '<%=@root%>'
          }
        };

        var chart = new google.visualization.WordTree(document.getElementById('wordtree_basic'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="wordtree_basic" style="width: 1500px; height: 500px;"></div>
    <div id="footer">
        Read more about word trees <a href="https://developers.google.com/chart/interactive/docs/gallery/wordtree">here</a> and <a href="https://www.jasondavies.com/wordtree/">here</a> 
      and check out autocomplete poetry <a href="http://www.googlepoetics.com/">here</a>.
    </div>
  </body>
</html>