<strong>Your Search:</strong> <%= @word %> </br>


<!-- <strong>Your Location:</strong> <%= @location%> -->
<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
     // $("#country1").val("<%=@iso1%>, <%=@location1%>");
     //  $("#country2").val("<%=@iso2%>, <%=@location2%>"); 
      google.load("visualization", "1.1", {packages:["wordtree"]});
      google.setOnLoadCallback(drawChart);

      function drawChart() {

        var options = {
          wordtree: {
            format: 'implicit',
            word: '<%=@root%>',
            colors: ['orange', 'blue']
        }
      };
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'phrase');
        data.addColumn('number', 'size');
        data.addColumn('number', 'color');
        
        <%if @auto3%>
        <%@auto3.each do |phrase|%>
        data.addRow(["<%= phrase%>", 1, 5]);
        <%end %>
        <%end%>

       <%@auto1.each do |phrase|%>
        data.addRow(["<%= phrase%>", 1, 10]);
        <%end %>

        <%if @auto2%>
        <%@auto2.each do |phrase|%>
        data.addRow(["<%= phrase%>", 1, 0]);
        <%end %>
        <%end%>

        

        var chart = new google.visualization.WordTree(document.getElementById('wordtree_basic1'));
      
        chart.draw((data), options);

      }
      
    </script>
  </head>
  <body>
  <div style="position: relative; left: 200px;">
  <span class="label label-default" style="background-color: orange"><%=@location1%></span>
  <span class="label label-primary"><%=@location2%></span>
  <span class="label label-success" style="background-color: grey">Overlap</span>
  </div>
    <div id="wordtree_basic1" style="width: 2000px; height: 500px;" class="col-md-2"></div>
   
  </body>
</html>